.gallery-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.scroller-horizontal {
  width: 95vw;
  position: relative;
  margin-left: 1vw;
  margin-top: 1vh;
  border: 2px solid blue;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 30vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.scroller-wrapper {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  justify-content:inherit;
}

.scroller-full {
  width: 95vw;
  height: 90vh;
  margin-left: 1vw;
  margin-top: 1vh;
  border: 2px solid blue;
  overflow-y: scroll;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.spotlight {
  max-width: 35vw;
  max-height: 60vh;
  box-shadow: 5px 5px 10px 5px black;
  border: 1px solid grey;
  position:relative;
  margin: 2vh auto 5vh auto;
  text-align: center;
}

.spotlight img {
  max-width: 25vw;
  max-height: 40vh;
  object-fit: contain;
}

.buttons {
  position: absolute;
}

.favourites-filter {
  position:absolute;
  right: 5vw;
  top: 10vh;
  height: 4vh;
  background-color: cyan;
  outline: none;
  border: 1px solid black
}
